.checkbox-text {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 600;
}

.checkbox-box {
    background: rgba(91, 206, 194, 0.726);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px; 
    width: 500px;
}

.inside-checkbox-box {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.vertical-center-div {
    display: flex;
    align-items: center;
}

/* Basic styling */

[type=checkbox] {
    width: 2rem;
    height: 2rem;
    color: dodgerblue;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
}


/* Pseudo element for check styling */

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: rgba(168, 233, 226, 0.726);
    background-size: contain;
    box-shadow: inset 0 0 0 1px rgba(168, 233, 226, 0.726);
}


/* Checked */

[type=checkbox]:checked {
    background-color: currentcolor;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


/* Disabled */

[type=checkbox]:disabled {
    background-color: rgba(168, 233, 226, 0.726);
    opacity: 0.84;
    cursor: not-allowed;
}


/* IE */

[type=checkbox]::-ms-check {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px rgba(168, 233, 226, 0.726);
}

[type=checkbox]:checked::-ms-check {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}