.upload-box{
    background: rgba(91, 206, 194, 0.726);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    width: 260px;
    padding: 10px;
    height: 380px;
    margin: 1em;      
    
}

.file-input, .submit-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}



.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-div{
    display: flex;
    justify-content: center;

}

.submit-button {
    min-width: 315px;
    min-height: 80px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

.submit-button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    }

.submit-button:hover, .submit-button:focus {
    color: #313133;
    transform: translateY(-6px);
    }

.submit-button:hover::before, .submit-button:focus::before {
    opacity: 1;
    }


.submit-button:hover::after, .submit-button:focus::after {
    animation: none;
    display: none;
    }

/* Container for flexboxes */
.upload-boxen {
    display: flex;
    flex-wrap: wrap;
  }
  
/* Create four equal columns */
.upload-box-column {
    flex: 25%;
    padding: 20px;
  }
  
  

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .upload-box-column {
        flex: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .upload-boxen {
        flex-direction: column;
        
       
    }
    
}

    