.checkbox-text {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 600;
}

.checkbox-box {
    background: rgba(91, 206, 194, 0.726);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px; 
    width: 500px;
}

.inside-checkbox-box {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}



