.statistiken-innen-box{
    background: rgba(64, 146, 138, 0.726);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin: 5px; 
    flex: 25%;     
}

.abfrage-box{
    background: rgba(91, 206, 194, 0.726);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    padding: 15px;
    margin: 30px; 
    width:fit-content;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .statistiken-innen-box {
      flex: 50%;
    }
  }



