.download-button {
  background-color: rgba(79,209,197,.64);
  border: none;
  border-radius: 1000px;
  color: #313133;
  height: 40px;
  width: 170px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding-right: 21px;
  margin-top: 15px;
}
.download-button:hover{
  background-color: rgba(21, 109, 100, 0.64);
}
.download-circle{
  height: 40px;
  width: 40px;
  background-color: rgba(21, 109, 100, 0.64);
  border-radius: 1000px;
  display: inline-block;
  margin-right: 5px;
}
.download-center{
  margin-top: 10px;
}

.email-button{
  background-color: rgba(79,209,197,.64);
  border: none;
  border-radius: 1000px;
  color: #313133;
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
  padding-top: 5px;
}
.email-button:hover{
  background-color: rgba(21, 109, 100, 0.64);
}
#id_first_name, #id_last_name, #id_email_address, #id_message{
  margin-bottom: 10px;
}
.about-email-container{
  margin-top: 15px;
}
.about-container{
  margin: 20px;
  width: 700px;
  
}
