/* scroll-top-button is used in base_layout.html for scrolling up*/

#scroll-top-button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(79,209,197,.64); /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 1000px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    height: 50px;
    width: 50px;
}
  
#scroll-top-button:hover {
    background-color: rgba(21, 109, 100, 0.64); /* Add a dark-grey background on hover */
}
