#scroll-top-button {
display:none;
position:fixed;
bottom:20px;
right:30px;
z-index:99;
border:none;
outline:none;
background-color:rgba(79,209,197,.64);
cursor:pointer;
border-radius:1000px;
font-size:18px;
height:50px;
width:50px;
padding:15px;
}

#scroll-top-button:hover {
background-color:rgba(21, 109, 100, 0.64);
}