.checkbox-text {
margin-bottom:7px;
font-size:14px;
font-weight:600;
}

.hide {
width:.1px;
height:.1px;
opacity:0;
overflow:hidden;
position:absolute;
z-index:-1;
}

.access-form {
margin-top:20px;
padding:20px;
}

.access-form input {
display:block;
margin:10px;
padding:10px;
}

.errorlist li {
list-style-type:none;
border:1px solid #c00;
border-radius:12px;
color:#c00;
font-size:13px;
font-weight:600;
width:200px;
margin:0;
padding:5px;
}

.access-h {
margin-bottom:15px;
}

#id_first_name,#id_last_name,#id_email_address,#id_message {
margin-bottom:10px;
}

.img,.symbol-logo {
display:block;
margin-left:auto;
margin-right:auto;
}