{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>VocAsk</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/layout/base_layout.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/layout/page_specific_layout.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/layout/boxes.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/layout/style_basics.css' %}">
    
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/components/outside_box_buttons.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/components/scroll_top_button.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/components/switch_button.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/components/checkbox_button.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/components/inside_box_buttons.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="topnav" id="myTopnav">
        <a href="/" >
            <img width="200px" height="85px" src="{% static 'img/written_logo.png' %}" alt="VocAsk Logo">
        </a>
        <a class="menulinks" href="/">home</a>
        <a class="menulinks" href="/about">about</a>
        <a class="menulinks" href="/anleitung">anleitung</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <script type="text/javascript">
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>
    {% if user.is_authenticated %}
    <div class="menubuttons">
        <nav>
            <ul>
                <li>
                    <form class="logout-link" action="/accounts/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="outside-box-button access-button">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    {%else%}
    <div class="menubuttons">
        <nav>
            <ul>
                <li>
                    <a href="/accounts/login" style="text-decoration: none;">
                        <button type="submit" class="outside-box-button access-button">Login</button>
                    </a>
                    <a href="/accounts/signup" style="text-decoration: none;">
                        <button type="submit" class="outside-box-button access-button">Signup</button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {%endif%}
    <p class="spacer"></p>
    <button onclick="topFunction()" id="scroll-top-button" >

            <i class="fa fa-arrow-up"></i>
    
    </button>
    <script>
        //Get the button:
        mybutton = document.getElementById("scroll-top-button");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer>
    <div class="center-div">
        <div class="footer-outer-box">

            <img class="footer-logo" width="247px" height="85px" src="{% static 'img/written_logo_white.png' %}" alt="VocAsk Logo">

            
            <div class="standard-box" >
                
                <div class="footer-box">
                    <b class="footer-headline">Zu VocAsk</b>
                    <a class="footer-link" href="/">Home</a>
                    <a class="footer-link" href="/about">About</a>
                    <a class="footer-link" href="/anleitung">Anleitung</a>
                </div>
                <div class="footer-box">
                    <b class="footer-headline">Kontakt</b>
                    <a class="footer-link" href="/about">About</a>
                </div>
                <div class="footer-box">
                    <b class="footer-headline">Gesetzliches</b>
                    <a class="footer-link" href="/datenschutz">Impressum</a>
                    <a class="footer-link" href="/datenschutz">Datenschutz- erklärung</a>
                </div>
                <div class="footer-box">
                    <b class="footer-headline">Mein Account</b>
                    <a class="footer-link" href="/accounts/login">Login</a>
                    <a class="footer-link" href="/accounts/signup">Signup</a>
                </div>

            </div>
            <div class="copyright-outer-box">
                <hr class="footer-line">
                <div class="copyright-box">
                    &copy; VocAsk by Danilo Scholz
                </div>
            </div>

        </div>
    </div>
    
</footer>
</html>