{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>VocAsk</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style_base_layout.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style_switch_buttons.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style_accounts.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style_big_buttons.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style_basics.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style_fotos.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style_korrektur.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style_abfrage.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style_gespeichert.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="topnav" id="myTopnav">
        <a href="/" >
            <img width="200px" height="85px" src="{% static 'img/written_logo.png' %}" alt="VocAsk Logo">
        </a>
        <a class="menulinks" href="/">home</a>
        <a class="menulinks" href="/about">about</a>
        <a class="menulinks" href="/anleitung">anleitung</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <script type="text/javascript">
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>
    {% if user.is_authenticated %}
    <div class="menubuttons">
        <nav>
            <ul>
                <li>
                    <form class="logout-link" action="/accounts/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button_small">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    {%else%}
    <div class="menubuttons">
        <nav>
            <ul>
                <li>
                    <a href="/accounts/login" style="text-decoration: none;">
                        <button type="submit" class="button_small">Login</button>
                    </a>
                    <a href="/accounts/signup" style="text-decoration: none;">
                        <button type="submit" class="button_small">Signup</button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {%endif%}
    <p class="spacer"></p>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>