{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>VocAsk</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script src="{% static 'jsfunctions.js' %}" async></script>
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">

    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="topnav" id="myTopnav">
        <a href="/" >
            <img width="200px" height="85px" src="{% static 'img/written_logo.png' %}" alt="VocAsk Logo">
        </a>
        <a class="menulinks" href="/">home</a>
        <a class="menulinks" href="/about">about</a>
        <a class="menulinks" href="/anleitung">anleitung</a>
        <a href="javascript:void(0);" class="icon" onclick="menuResponsiveness()">
                <i class="fa fa-bars"></i>
        </a>
    </div>
    
    {% if user.is_authenticated %}
    <div class="menubuttons">
        <nav>
            <ul>
                <li>
                    <form class="logout-link" action="/accounts/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="outside-box-button access-button">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    {%else%}
    <div class="menubuttons">
        <nav>
            <ul>
                <li>
                    <a href="/accounts/login" style="text-decoration: none;">
                        <button type="submit" class="outside-box-button access-button">Login</button>
                    </a>
                    <a href="/accounts/signup" style="text-decoration: none;">
                        <button type="submit" class="outside-box-button access-button">Signup</button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {%endif%}
    <p class="spacer"></p>
    <button onclick="topFunction()" id="scroll-top-button" >

            <i class="fa fa-arrow-up"></i>
    
    </button>
    <script>
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

    </script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer>
    <div class="center-div">
        <div class="footer-outer-box">

            <img class="footer-logo" width="247px" height="85px" src="{% static 'img/written_logo_white.png' %}" alt="VocAsk Logo">

            
            <div class="standard-box" >
                
                <div class="footer-box">
                    <b class="footer-headline">Zu VocAsk</b>
                    <a class="footer-link" href="/">Home</a>
                    <a class="footer-link" href="/about">About</a>
                    <a class="footer-link" href="/anleitung">Anleitung</a>
                </div>
                <div class="footer-box">
                    <b class="footer-headline">Kontakt</b>
                    <a class="footer-link" href="/about">About</a>
                </div>
                <div class="footer-box">
                    <b class="footer-headline">Gesetzliches</b>
                    <a class="footer-link" href="/impressum">Impressum</a>
                    <a class="footer-link" href="/datenschutz">Datenschutz- erklärung</a>
                </div>
                <div class="footer-box">
                    <b class="footer-headline">Mein Account</b>
                    <a class="footer-link" href="/accounts/login">Login</a>
                    <a class="footer-link" href="/accounts/signup">Signup</a>
                </div>

            </div>
            <div class="copyright-outer-box">
                <hr class="footer-line">
                <div class="copyright-box">
                    &copy; VocAsk by Danilo Scholz
                </div>
            </div>

        </div>
    </div>
    
</footer>
</html>