{% extends 'base-layout.html' %}

{% block content %}
<div class="center-div">
    <h1>Impressum</h1>
</div>

<div class="center-div">
    <div class="outside-text-box">
        <div class="center-div">
            <div class="standard-box">
                <div>
                    <h3>Angaben gemäß § 5 TMG</h3>
                    <p>Danilo Scholz</p>
                    <p>Fürstenrieder Str. 159</p>
                    <p>81377, München</p>
        
                    <h3>Kontakt</h3>
                    <p>Email: VocAskContact@gmail.com</p>
                </div>  
            </div>
        </div>
    </div>
</div>
{% endblock %}