{% extends 'base-layout.html' %}

{% block content %}
<div class="center-div">
    <h1>Anleitung</h1>
</div>
<div class="center-div">
    <div class="outside-text-box">
        <div class="center-div">
            <div class="standard-box">
                <h3>1. Schritt</h3>
                <p></p>
                <p>
                    Klicke als erstes den Startknopf auf der Homeseite. So gelangst du auf die Foto Seite.
                    Hier kannst du jetzt per Knopfklick Fotos deiner deutschen und englischen Vokabeln hochladen.
                    Klicke anschließend auf Weiter.
                </p>
                <p>
                    Falls du auf auf VocAsk angemeldet bist kannst du auf der Foto Seite auch bereits gespeicherte Vokabeln auswählen.
                </p>
            </div>
        </div>

        <div class="center-div">
            <div class="standard-box">
                <h3>2. Schritt</h3>
                <p></p>
                <p>
                    Wenn du den ersten Schritt erledigt hast gelangst du nach kurzem Warten auf die Korrektur Seite. 
                    Hier befinden sich die aus den hochgeladenen Fotos, ausgescannten vokabeln in Textfeldern.
                    Falls beim ausscannen der Vokabeln Fehler passiert sind, kannst du diese hier korrigieren.
                </p>
                <p>
                    Falls du auf auf VocAsk angemeldet bist kannst du auf der Korrektur Seite auch entscheiden, 
                    ob du die ausgescannten Vokabellisten zur Wiederverwendung speichern möchtest.
                </p>
            </div>
        </div>

        <div class="center-div">
            <div class="standard-box">
                <h3>3. Schritt</h3>
                <p></p>
                <p>
                    Wenn du alle Schritte richtig befolgt hast, bist du nun auf der Abfrage Seite.
                    Hier kannst du auf "Abfrage starten" klicken und dann von deiner Browser Stimme nach der Übersetzung
                    der deutschen Vokabeln ins Englische gefragt werden.
                </p>
                <p>
                    Zudem gibt es Statistiken, die dir dabei helfen sollen deine Leistung in der Abfrage zu verfolgen. 
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}