{% extends 'base-layout.html' %}

{% block content %}
<div class="center-div">
    <h1>Datenschutzerklärung</h1>
</div>

<div class="center-div">
    <div class="outside-text-box">
        <div class="center-div">
            <div class="standard-box">
                <div>
                    <p>Verantwortlich im Sinne der Datenschutzgesetzes:</p>
                    <p>Danilo Scholz</p>
                    <p>Fürstenrieder Str. 159</p>
                    <p>81377, München</p>
                    <h3>Datenschutz</h3>
                </div>
                <p>
                    Als Webseitenbetreiber nehmen wir den Schutz aller persönlichen Daten sehr ernst. 
                    Alle personenbezogenen Informationen werden vertraulich und gemäß den gesetzlichen Vorschriften behandelt, 
                    wie in dieser Datenschutzerklärung erläutert.
                </p>
                <p>
                    Unserer Webseite kann selbstverständlich genutzt werden, 
                    ohne dass Sie persönliche Daten angeben. Wenn jedoch zu irgendeinem Zeitpunkt persönliche Daten wie z.B. 
                    Name, Adresse oder E-Mail abgefragt werden, wird dies auf freiwilliger Basis geschehen. Niemals werden von 
                    uns erhobene Daten ohne Ihre spezielle Genehmigung an Dritte weitergegeben.
                </p>
                <p>
                    Datenübertragung im Internet, wie zum Beispiel über E-Mail, kann immer Sicherheitslücken aufweisen. 
                    Der komplette Schutz der Daten ist im Internet nicht möglich.
                </p>
                <h3>Auskunft, Löschung, Sperrung</h3>
                <p>
                    Zu jedem Zeitpunkt können Sie sich über die personenbezogenen Daten, 
                    deren Herkunft und Empfänger und den Nutzen der Datenverarbeitung informieren 
                    und unentgeltlich eine Korrektur, Sperrung oder Löschung dieser Daten verlangen. 
                    Bitte nutzen Sie dafür die im Impressum angegebenen Kontaktwege. 
                    Für weitere Fragen zum Thema stehen wir Ihnen ebenfalls jederzeit zur Verfügung.
                </p>
                <h3>Server-Log-Files</h3>
                <p>
                    Der Seiten-Provider erhebt und speichert automatisch Daten in Server-Log Files, 
                    die von Ihrem Browser an uns übermittelt werden. Diese Daten enthalten:
                </p>
                <p>– Browsertyp/ Browserversion</p>
                <p>– Betriebssystem des Rechners</p>
                <p>– Referrer URL</p>
                <p>– Hostname des zugreifenden Rechners</p>
                <p>– Uhrzeit der Serveranfrage</p>
                <p>
                    Diese Daten sind nicht personenbezogen. Es erfolgt keine Zusammenführung dieser Daten mit anderen Datenquellen. 
                    Wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden behalten wir uns das Recht vor, 
                    diese Daten nachträglich zu überprüfen.
                </p>
                <h3>Cookies</h3>
                <p>
                    Viele Internetseiten verwenden Cookies. Cookies sind unschädlich für Ihren Rechner und virenfrei. 
                    Sie dienen dazu, Internet-Angebote für die Besucher einer 
                    <a href="" target="_blank"></a> 
                    freundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, 
                    die auf Ihrem Computer abgelegt werden und die Ihr Browser verwendet.
                </p>
                <p>
                    Wir verwenden in der Regel so genannte „Session-Cookies“. 
                    Diese werden nach Verlassen unserer Seite automatisch gelöscht. 
                    Andere Cookies bleiben auf Ihrem Computer gespeichert, bis Sie diese löschen. 
                    Diese Cookies helfen dabei, Ihren Rechner beim nächsten Besuch wiederzuerkennen.</p>
                <p>
                    Über die Browsereinstellungen können sie festlegen, dass Sie über neue Cookies informiert 
                    werden und Cookies jeweils annehmen müssen. Ebenso können Sie die Annahme von Cookies für
                    bestimmte Fälle oder generell ausschließen oder das automatische Löschen der Cookies beim
                    Schließen des Browser aktivieren. Werden Cookies desaktiviert, kann die Funktionalität unserer
                    Website eingeschränkt sein.
                </p>
                <h3>Verarbeitung hochgeladener Vokabelgruppen</h3>
                <p>
                    Wir verarbeiten die von Ihnen an VocAsk übermittelten Texte und deren Übersetzungen nur vorübergehend, 
                    soweit dies für das Vokabeltraining notwendig ist. Die Verarbeitung ist daher gemäß Art. 6 Abs. 1 S. 1 lit.
                     b) DSGVO gerechtfertigt. Ihre Texte und die Übersetzungen werden – im Rahmen der vertraglichen Vereinbarungen
                      – nicht dauerhaft gespeichert und nach Erbringung der vertraglich geschuldeten Leistung gelöscht. 
                      Etwas anderes gilt nur, wenn Sie in unserer Anwendung die Funktion „Speichern“ wählen. 
                      In diesem Fall können von Ihnen ausgewählte Vokabelgruppen lokal auf dem von uns verwendeten Server für Ihren
                       Account gespeichert und so jederzeit ausschließlich von Ihnen abrufbar gehalten werden.
                </p>
                <h3>Kontaktformular</h3>
                <p>
                    Kontaktdaten, die uns über unser Kontaktformular erreichen, werden inklusive des Inhalts der Anfrage für 
                    Bearbeitungszwecke und für mögliche Anschlussfragen gespeichert. Diese Daten werden ohne Ihre spezifische
                    Zustimmung nicht weitergegeben.
                </p>
                <h3>Änderung der Datenschutzbestimmungen</h3>
                <p>
                    Unsere Datenschutzerklärung können in unregelmäßigen Abständen angepasst werden, 
                    damit sie den aktuellen rechtlichen Anforderungen entsprechen oder um Änderungen
                    unserer Dienstleistungen umzusetzen, z. B. bei der Einfügung neuer Angebote. 
                    Für Ihren nächsten Besuch gilt dann automatisch die neue 
                    <a href="https://xn--datenschutzerklrungmuster-zec.de/was-ist-eine-datenschutzerklaerung/" target="_blank">
                    <strong>Datenschutzerklärung</strong></a>.
                </p>
                <h3>Kontakt zum Datenschutzmitarbeiter</h3>
                <p>Für Fragen zum Datenschutz schicken Sie uns bitte eine Nachricht an VocAskContact@gmail.com mit dem Betreff „Datenschutz“.</p>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}