{% extends 'base-layout.html' %}

{% block content %}

<body onload="speak()">
    
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div class="center-div">
        <h1>Abfrage</h1>
    </div>

    <div class="center-div">
        <section class="standard-box" id="bar">
            <div class="center-div">

                <div id='result' class='inside-standard-box'>...</div>
        
                <div id= 'record' class='inside-standard-box'>

                    <button onclick="abfrage()" class="hide" id="re"></button>
                    <label class ="inside-box-button access-button" for="re" style="width:200px; padding-top:10px;">Abfrage starten</label>
                    
                    <form action="/abfrage/audio_data"  method="POST">
                        {% csrf_token %}
                        
                        {% for message in messages %}
                        {%if "en" in message.tags %}
                            <section class="hide" id="voclisten">
                                <ul   class="messages" >
                                    <li  name='vocsena' id='vocsena' > {{ message }} </li>
                                </ul> 
                            </section>
                        {% endif %} 
                        {% endfor %}

                        {% for message in messages %}
                        {%if "de" in message.tags %}
                            <section class="hide" id="voclistde">
                                <ul   class="messages" >
                                    <li  name='vocsdea' id='vocsdea' > {{ message }} </li>
                                </ul> 
                            </section>
                        {% endif %} 
                        {% endfor %}

                        
                    </form>
            
                    <script type="text/javascript">
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback(drawChart);
                    </script>
                </div>

            </div>
        </section>
    </div>
    
    <div class="center-div">
        <h2>Statistiken</h2>
    </div>

    <div class="center-div">
        <div class="standard-box">
            
                
                <section class="statistic-box inside-standard-box">
                    <label>Richtig</label>
                    <section id="correct_pct_elem" style="font-size:60px;">0%</section>
                </section>

                <section class="statistic-box inside-standard-box">
                    <label>Verlauf</label>
                    <section id="curve_chart" style="width: 235px; height: 105px;"></section>
                </section>
                
                <section class="statistic-box inside-standard-box">
                    <label>Punkte</label>
                    <section id="points_elem" style="font-size:60px;">0</section>
                </section>

                <section class="statistic-box inside-standard-box">
                    <label>letzte Vokabel</label>
                    <section id="last_voc_elem" style="font-size:30px;">----</section>
                </section>

            
        </div>
    </div>

    
    <div class="center-div">
        <a href="/abfrage/fotos" class="container">
            <button class="outside-box-button submit-button">ABBRECHEN</button> 
        </a> 
    </div>
    

{% endblock %}