{% extends 'base-layout.html' %}

{% block content %}
<div class="center-div">
    <h1>Gespeicherte Vokabeln</h1>
</div>

<div type="hidden" id="loader"></div>
<div type="hidden" id="dimmer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<form action="/abfrage/gespeicherte_abfrage/" method="post" id="form">
    {% for VocabularySet in savedVocabulary %}
    <div class="center-div">
        <div class="checkbox-box">
            <div class="vertical-center-div">
                <input class="inside-checkbox-box" type="checkbox" id="checkbox" value="{{ VocabularySet.vocEn }}
                {{  VocabularySet.vocDe }}" name="group[]">

                <label class="inside-checkbox-box dynamic-id" for="checkbox" >
                    <label class="checkbox-text">{{ VocabularySet.title}}</label>
                    <button type="button" onclick="hideVocSets(this.id)" style="all:unset;">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <div style="display:none;">
                        <label class="checkbox-text de" >
                            deutsche Vokabeln: {{ VocabularySet.vocEn }}
                        </label>
                        <label class="checkbox-text en" >
                            englische Vokabeln: {{  VocabularySet.vocDe }}
                        </label>
                    </div>
                </label>

                
            </div>
        </div>
    </div>
    {% endfor %}
    <script>
        $('input[type="checkbox"]').on('change', function() {
            $('input[name="' + this.name + '"]').not(this).prop('checked', false);
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".dynamic-id").each(function(index){
                $(this).find("div").prop("id", "voc-set-"+index);
                $(this).find("button").prop("id", index);
                $(this).find("i").prop("id", "arrow-icon"+index);
            });
        });
    </script>
    <div class="center-div">
        <button type="submit" class="outside-box-button submit-button" id="submit-button">WEITER</button>
        <script>
            var form = document.getElementById("form");
            form.addEventListener("submit", submit, true);
        </script>
    </div>
</form>
{% endblock %}