{% extends 'base-layout.html' %}

{% block content %}
<div class="center-div">
  <h1>Korrektur</h1>
</div>
<form action="/abfrage/abfrage" metod="POST">

  <div class="center-div">
    <div class="center-div">
      <div class="standard-box screen-adaptation">
        
        <div class="inside-standard-box">
          <label>englische Vokabeln:</label>
          {% for fields in formEn %}
          <div style="padding:10px;">
              <div class="col-md-12">
                {{fields}}
              </div>
          </div>
          {% endfor %}
        </div>

        <div class="inside-standard-box">
          <label>deutsche Vokabeln:</label>
          {% for fields in formDe %}
          <div style="padding:10px;">
              <div class="col-md-12">
                {{fields}}
              </div>
          </div>
          {% endfor %}
        </div>
      
      </div>
    </div>
  </div>

  {% if user.is_authenticated %}

  <div class="center-div">
    <div class="standard-box">
      <div class="center-div">
        <div>
          <label>Speichern:</label>
          <label class="switch">
            <input type="checkbox" onclick="displayTitleField()" id="switch">
            <span class="slider round"></span>
          </label>
        </div>

        <div id="title-box" style="margin-left:20px; display:none">
          {% for fields in titleField %}
          <label>Titel:</label>
          <div id="titleField">
              {{fields}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {%endif%}

  <div class="center-div">
    <input type="submit" value="WEITER" id="senden" class="hide">
    <button for="senden" id="weiter_btn" class="outside-box-button submit-button" onclick="submit()">WEITER</button>
  </div>

  

</form>

{% endblock %}