{% extends 'base_layout.html' %}

{% block content %}
<div class="center-div">
    <div class="standard-box">
        <div class="center-div">
            <form class="access-form" action="/accounts/signup/" method="post">
                <div class="center-div">
                    <h2 class="access-h">Signup</h2>
                </div>
                {% csrf_token %}
                {{form}}
                <input class="inside-box-button form-button" type="submit" value="Signup">
            </form>
        </div>
    </div>
</div>

{% endblock %}