{% extends 'base_layout.html' %}

{% block content %}
<script src='https://unpkg.com/tesseract.js@v2.0.2/dist/tesseract.min.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="center-div">
    <h1>Fotos</h1>
</div>

{% if user.is_authenticated %}
<div class="center-div">
    <a href="/abfrage/gespeichert" style="text-decoration: none;">
        <button class="upload-button">gespeicherte Vokabeln</button>
    </a>
</div>
{%endif%}

<div type="hidden" id="loader"></div>
<div type="hidden" id="dimmer"></div>



<form id="imgForm" method="post">
    
    <div class="center-div">
        <div class="upload-boxen">
            <div class="upload-box-column">
                <div class="upload-box" >
                    <input class="file-input" type="file" id="files" name="imagede">
                    <label class="upload-button" for="files" id="debtn">
                        <div class="upload-circle">
                            <div class="upload-center">
                                <i class="fa fa-upload"></i>
                            </div>
                        </div>
                        deutsche Vokabeln
                    </label>
                    <p></p>
                    <output class="image" id="list" style="border-radius:30px"></output>
                    <input type="hidden" name="txt_voc_de" id="txt_voc_de" value=""></input>
                    <script>
                    
                        if (window.FileReader) {
                        function handleFileSelect(evt) {
                        var files = evt.target.files;
                        var f = files[0];
                        var reader = new FileReader();
                        
                            reader.onload = (function(theFile) {
                            return function(e) {
                                document.getElementById('list').innerHTML = ['<img src="', e.target.result,'" title="', theFile.name, '" class="img" width="200", height=280 style="border-radius:12px;" id="imgde"/>'].join('');
                            };
                            })(f);
                    
                            reader.readAsDataURL(f);
                        }
                        
                        } else {
                        alert('This browser does not support FileReader');
                    }
                    
                        document.getElementById('files').addEventListener('change', handleFileSelect, false);
                        
                        
                    </script>
                </div>
            </div>
            <div class="upload-box-column">
                <div class="upload-box">
                    <input class="file-input" type="file" id="filesa" name="imageen">
                    <label class="upload-button" for="filesa" id="enbtn">
                        <div class="upload-circle">
                            <div class="upload-center">
                                <i class="fa fa-upload"></i>
                            </div>
                        </div>
                        englische Vokabeln
                    </label>
                    <p></p>
                    <output class="image" id="lista"></output>
                    <input type="hidden" name="txt_voc_en" id="txt_voc_en" value=""></input>
                    <script>
                    
                        if (window.FileReader) {
                        function handleFileSelect(evt) {
                        var filesa = evt.target.files;
                        var f = filesa[0];
                        var reader = new FileReader();
                        
                            reader.onload = (function(theFile) {
                            return function(e) {
                                document.getElementById('lista').innerHTML = ['<img src="', e.target.result,'" title="', theFile.name, '" class="img" width="200", height=280, style="border-radius:12px" id="imgen"/>'].join('');
                            };
                            })(f);
                    
                            reader.readAsDataURL(f);
                            
                        }
                        } else {
                        alert('This browser does not support FileReader');
                    }
                    
                        document.getElementById('filesa').addEventListener('change', handleFileSelect, false);
                
                        
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="center-div">
        <script>
        
            var ocr = function(event) {
                event.preventDefault();
                //document.getElementById('dimmer').innerHTML = ['<div class="dimmer" id="dimmer"></div>']
                document.getElementById('loader').innerHTML = ['<div class="loader" id="loader"></div>']
                if(!document.getElementById('imgde') || !document.getElementById('imgen')) {
                    if(!document.getElementById('imgde')) {
                        var alerttxt = "Es wurde kein Foto der deutschen Vokabeln hochgeladen."
                    }
                    if(!document.getElementById('imgen')) {
                        var alerttxt = "Es wurde kein Foto der englischen Vokabeln hochgeladen."
                    }
                    if(!document.getElementById('imgde') & !document.getElementById('imgen')) {
                        var alerttxt = "Es wurden keine Fotos hochgeladen."
                    }
                    alert(alerttxt)
                    window.location = "/abfrage/fotos"
                }
                else {
                
                Tesseract.recognize(
                    document.getElementById('imgde').src,
                    'deu', {
                        logger: m => console.log(m)
                    }
                ).then(({
                    data: {
                        text
                    }
                }) => {
                    console.log(text);
                    Tesseract2(text);
                })
                }
            };

        function Tesseract2(text_de) {
            Tesseract.recognize(
                document.getElementById('imgen').src,
                'eng', {
                    logger: m => console.log(m)
                }
            ).then(({
                data: {
                    text
                }
            }) => {
                console.log(text);
                AjaxCall(text_de, text);
            })

        }

        function AjaxCall(text_de, text_en) {
            $.ajax({
                type: 'POST',
                url: "/abfrage/korrektur/",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(), // to avois csrf error
                    txt_voc_en: text_en,
                    txt_voc_de: text_de
                },
                success: function(json) {
                    console.log("success");
                    window.location = "/abfrage/korrektur/"
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }


        var form = document.getElementById("imgForm");
        form.addEventListener("submit", ocr, true); 
        </script>
        <input type="submit" id="senden" class="submit-input"/>
        <button for="senden" id="weiter_btn" class="submit-button">WEITER</button>
        {% csrf_token %}
    </div>

</form>

{% endblock %}