{% extends 'base_layout.html' %}

{% block content %}
<h1>Korrektur</h1>

<form action="/abfrage/abfrage" metod="POST">

  <div class="center-div">
    <div class="korrektur-box">
      <div class="center-div">

        <div class="textfeld-boxen">
          <label>englische Vokabeln:</label>
          {% for fields in formEn %}
          <div class="row">
              <div class="col-md-12">
                {{fields}}
              </div>
          </div>
          {% endfor %}
        </div>

        <div class="textfeld-boxen">
          <label>deutsche Vokabeln:</label>
          {% for fields in formDe %}
          <div class="row">
              <div class="col-md-12">
                {{fields}}
              </div>
          </div>
          {% endfor %}
        </div>
      
      </div>
    </div>
  </div>

  {% if user.is_authenticated %}

  <div class="center-div">

    <div>
      <label>Speichern:</label>
      <label class="switch">
        <input type="checkbox" onclick="displayTitleField()" id="switch">
        <span class="slider round"></span>
      </label>
    </div>

    <div id="title-box" style="display:none">
      {% for fields in titleField %}
      <label>Titel:</label>
      <div id="titleField">
          {{fields}}
      </div>
      {% endfor %}
    </div>

  </div>

  <script>
    function displayTitleField() {
      // Get the checkbox
      var checkBox = document.getElementById("switch");
      // Get the output text
      var titleBox = document.getElementById("title-box");

      // If the checkbox is checked, display the output text
      if (checkBox.checked == true){
        titleBox.style.display = "block";
      } else {
        titleBox.style.display = "none";
      }
    }
  </script>

  {%endif%}

  <div class="center-div">
    <input type="submit" value="WEITER" id="senden" class="submit-input">
    <button for="senden" id="weiter_btn" class="submit-button" onclick="submit()">WEITER</button>
  </div>

  <script>
    function submit() {
      var checkBox = document.getElementById("switch");
      if (checkBox.checked == false){
        document.getElementById("titleField").value = "!h4fd46rZMJ4zf&2hm3"
      }
      var button = document.getElementById('weiter_btn');
      button.form.submit();
    }
  </script>

</form>

{% endblock %}